<include file="Default/layouts/_header" />

<div class="main-content">
		<div class="content-title">写文章</div>
		<a class="btn-block" href="#">写文章/页面</a>
		<div class="i-br"></div>

		<div class="content-title">文章列表</div>
		<div class="table-wrap">
			<table width="768" class="table">
				<tr>
					<th>文章信息</th>
					<th width="14%">分类</th>
					<th width="16%">发表日期</th>
					<th width="14%">修改时间</th>
					<th width="14%">操作</th>
				</tr>
				<tr>
					<td><a href="#" target="_blank">123</a></td>
					<td class="text-center">345</td>
					<td class="text-center">456</td>
					<td class="text-center">678</td>
					<td class="text-center">
						<a href="#">编辑</a>
						<a class="rmArticle" href="#" data-id="#">删除</a>
					</td>
				</tr>
				<tr>
					<td colspan="5" class="text-center" style="height: 60px;">你还没发表过文章喔~</td>
				</tr>
			</table>
		</div>
		<div class="pagenav">
			<span class="prev"><a href="#">上一页</a></span>
			<span class="next"><a href="#">下一页</a></span>
		</div>
	</div>

<include file="Default/layouts/_footer" />