<header>
  <div class="header-main">
    <div class="header-title-container">
      <h1 class="header-title">Secret Blog</h1>
      <span class="header-info" id="t">All the loves is secret.</span>
    </div>
    <nav>
      <span class="nav-child"><a href="{:U('Index/index')}">Home</a></span>
      <span class="nav-child"><a href="{:U('Archives/index')}">Archives</a></span>
      <span class="nav-child"><a href="{:U('Resume/index')}">Resume</a></span>
      <span class="nav-child"><a href="{:U('Link/index')}">Links</a></span>
    </nav>
  </div>
</header>
