<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title><present name="title">{$title} |</present> Secret Blog</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<link rel="stylesheet" href="https://blog.isecret.vip/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://static.isecret.vip/github-gist.css">
	<link rel="stylesheet" href="__PUBLIC__/css/reply.css">
	<link rel="stylesheet" href="__PUBLIC__/css/dialog.css">
	<link rel="stylesheet" href="__PUBLIC__/css/default.css">
	<link rel="stylesheet" href="__PUBLIC__/css/app.css">
</head>
