<include file="Default/layouts/_head" />
<body>
	<main>
		<include file="Default/layouts/_header" />
		<content>
			<present name="category">
				<span class="category-title">关于 {$category} 的分类</span>
			</present>
			<foreach name="articles" item="article">
				<article>
					<div class="article-title-container">
						<h1 class="article-title">
							<a href="{:U('Article/index', ['id' => $article['id']])}">{$article.title}</a>
						</h1>
						<span class="article-info">{$article.created_at|date="F d, Y", ###} · <a href="{:U('Category/index', ['name' => $article['category']])}">{$article.category}</a></span>
					</div>
					<div class="article-content-container">
						<span>{$article.description}...</span>
						<div class="readmore">
							<a href="{:U('Article/index', ['id' => $article['id']])}">Read More <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>
				</article>
			</foreach>
			<empty name="articles">
			<div class="article-nothing">没有找到任何内容。</div>
			</empty>
			<div class="pagination">
				{$page}
				<div class="clear"></div>
			</div>
		</content>
    <include file="Default/layouts/_footer" />
